.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.wrapper button{
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.accordion{
    width: 500px;

}
.item{
    background-color: blueviolet;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
}
.item:hover{
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    height: auto;
}
.acco{
    margin-bottom: 50px;
    font-size: 3rem;
}