
.star-rating {
    height: 50vh;
    width: 100%;
    display: flex;
    gap: 50px;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .star-rating .active {
    color: gold;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star-rating .inactive {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
  }
  